<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="author" content="GREENART"> 
    <title>Site Sample</title>

    <!-- style-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- 텍스트 태그--><hr>
<h1>텍스트 태그</h1>
<h2></h2> greenart</h2>
<h3> video</h3>
<p> p태그11</p>


<!-- 미디어태그 --><hr>
<h2>미디어태그</h2>
<img src="img/table-logo1.png" alt="200px" />


<!-- 리스트태그 --><hr>
<h2>리스트태그</h2>
<ul>
    <li>html</li>
    <li>css</li>
    <li>js</li>
</ul>


<!-- 태이블태그   --><hr>
<h2>태이블태그</h2>
<table border="1">
    <tr>
        <td>국어</td>
        <td>산수</td>
    </tr>
    <tr>
        <td>바른생활</td>
        <td>사회</td>
    </tr>
    <tr>
        <td>음악</td>
        <td>체육</td>
    </tr>
</table>


<!-- 입력태그 --><hr>
<h2>입력태그</h2>
작성자 : <input type="text" /> <br/><br/>
질문내용 : <textarea>  </textarea>





</body>
</html>